body{
    background-color: lightgray;
}
h1{
    /* this is a declaration box*/
    font-size: 30px;
    color: teal;
}
h2{
    color: red;
    /*the part in body takes higher precedence; more specific*/
}
h2{
    color: green;
    /*error in rule set*/
    /*the one written last takes high precedence*/
}
/*selectors*/
.big{
    font-size: 60px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: navy;
}
h1 span{
    /*only elements between span are chnged for h1*/
    color:violet
}